.homeSlogans {
	display: flex;
	justify-content: center;
}

@keyframes fadein {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

#slogan1 {
	opacity: 0%;
	animation-delay: 0s;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#slogan2 {
	opacity: 0%;
	animation-delay: 0.25s;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#slogan3 {
	opacity: 0%;
	animation-delay: 0.5s;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
