@keyframes slidein {
	from {
		transform: translateX(-120%);
	}
	to {
		opacity: 100%;
		left: 0;
	}
}

@keyframes slideinright {
	from {
		transform: translateX(120%);
	}
	to {
		opacity: 100%;
		left: 0;
	}
}

#proSection4,
#proSection3,
#proSection2,
#proSection1 {
	opacity: 0;
	animation-delay: 0s;
	animation-name: slidein;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#proSection4,
#proSection2 {
	animation-delay: 0.5s;
 	float: right;
	animation-name: slideinright;
	z-index: 1;
	margin-top: 1rem;
	margin-bottom:2rem;
}

#proSection3 {
	animation-delay: 1s;
}

#proSection4 {
	animation-delay: 1.5s;
}
