@keyframes slidein {
	from {
		transform: translateX(-120%);
	}
	to {
		opacity: 100%;
		left: 0;
	}
}

@keyframes slideinright {
	from {
		transform: translateX(120%);
	}
	to {
		opacity: 100%;
		left: 0;
	}
}

#section1,
#section2 {
	opacity: 0;
	animation-delay: 0.5s;
	animation-name: slidein;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#section1 {
	animation-delay: 0s;
 	float: right;
	animation-name: slideinright;
}
