.App {
  text-align: center;
}

.page {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.header {
    color: grey;
    font-size: 1.75rem;
    padding: 2rem;
    border-bottom-style: solid;
    border-color: rgb(235,235,235);
    border-radius: 10px;
    border-width: 4px;
}

.body {
    display: inline-block;
    float: left;
    margin: 2rem 0rem;
}

.contact {
    float: left;
    width: 70%;
}

.contactDetails {
    width: 30%;
    float: right;
}
